* {
    box-sizing: border-box;
}

.hidden {
    display: none !important;
}

:root {
    --color-primary: #08a6e4;
    --color1: #fb3b64;
    --color2: #08a6e4;
    --color3: #55dfb4;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

.container {
    margin: 0 auto;
    max-width: 1124px; /* 1352px; */
    border: #ff4d00 0 solid;
}

header{
    display: flex;
    background-color: royalblue;
    height: 70px;
}

l {
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
    font-weight: 600;
}

.open-shop-section{
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-color: #ffffff;
    height: calc( 100vh - 70px );
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
}


.open-shop-top{
    background-color: gold;

    display: flex;
    justify-content: end;
    flex-direction: column;
    align-items: center;
    padding-top: 130px;
    /*height: 100%;*/
    /*background-color: yellow;*/
}

.open-shop-top h1{
    font-size: 49px;
    line-height: 57px;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    line-height: 42px;
}

.open-shop-top p{
    font-size: 16px;
    line-height: 22px;
    font-family: 'Raleway', sans-serif;
    margin-top: 20px;
    margin-bottom: 38px;
}




.open-shop-bottom {
    overflow: auto;
    background-color: green;
    background-image: url("../images/Background.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}


.open-shop-btn {
    color: white;
    display: inline-block;
    text-decoration: none;
    border-radius: 40px;
    font-size: 16px;
    line-height: 22px;
    padding: 20px 157px 23px 157px;
    background-color: var(--color-primary);
    box-shadow: 5px 10px 14px #07ACE629;
    font-weight: 600;
}

.open-shop-btn:hover {
    cursor: pointer;
}


/*          STATS                 */

.stats-section h2{
    background-color: #b776f8;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.stats-section-articles {
    background-color: #d7aeff;
    display: flex;
    justify-content: center;
    align-items: normal;
    /*padding: 0px 150px 120px 150px ;*/
    padding-bottom: 120px;
    flex-wrap: wrap;
    gap: 100px;
}


.stats-article {
    width: 176px;
    display: flex;
    justify-content: left;
    flex-direction: column;
    align-items: center;
    background-color: #d0d0d0;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

.stats-article h4{
    color: #000;
    margin-top: 13px;
    margin-bottom: 19px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 800;
    letter-spacing: 6px;
}

.stats-article p{
    font-size: 16px;
    line-height: 19px;
    color: #A5A5A5;
    font-weight: normal;
    margin: 0px 40px;

}



.circle{
    border-radius: 50%;
    height:63px;
    width: 63px;
}

.color1 {
    background-color: var(--color1);
}

.color2 {
    background-color: var(--color2);
}
.color3 {
    background-color: var(--color3);
}

/* benefits-section */

.benefits-section{
    background-color: #00ff00;
    padding: 105px 0px;
}


.benefits-section p{
    color: red;
    font-size: 16px;
    line-height: 22px;
    font-family: 'Open Sans', sans-serif;
}


.benefits-container{
    display: flex;
    justify-content: normal;
    flex-direction: column;
    justify-items: center;
    background-color: #4ac94a;
}

.benefits-articles {
    display: flex;
    justify-content: normal;
    flex-direction: column;
    background-color: #37da37;

}

.benefits-article-computer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 37px;
    height: 370px;
    background-color: #0e620e;
}

.benefits-article-computer-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: dodgerblue;
    padding-left: 35px;
    width: 416px;
}


.benefits-article-computer-text p{
    margin-top: 30px;
    margin-bottom: 50px;
}

.benefits-article-computer-image {
    width: 501px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: normal;
    margin-left: -1;
    padding-bottom: 38px;
    background-color: yellow;
}



.benefits-article-computer-image img{
    width: 386px;
    height: 219px;
}

.benefits-article-phone {
    display: flex;
    margin-bottom: 37px;
    height: 370px;
    background-color: #4ff14f;
}

.benefits-article-phone-image{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 623px;
    background-color: gold;
}

.benefits-article-phone-image img{
    margin-left: 70px;
    margin-top: 29px;
    width: 426px;
    height: 328px;
}

.benefits-article-phone-text {
    width: 501px;
    background-color: yellow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 65px;
}

.benefits-article-phone-text p {
    margin-top: 30px;
    margin-bottom: 50px;
    margin-right: 20px;
}

/* mega phone */

.benefits-article-megaphone {
    display: flex;
    height: 370px;
    background-color: #118511;
}



.benefits-article-megaphone-text{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 623px;
    background-color: gold;
    margin-left: 36px;
    margin-right: 34px;
}

.benefits-article-megaphone-image {
    width: 501px;
    background-color: yellow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 61px;
}
.benefits-article-megaphone-text p{
    margin-top: 30px;
}


.benefits-article-megaphone-image-div{
    height: 100%;
    background-color: aquamarine;
}

.benefits-article-megaphone-image-div img {
    margin-left: 62px;
    margin-top: 98px;
    width: 295px;
    height: 208px;
}

.benefits-article-left{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 623px;
    background-color: gold;
}








footer {
    font-family: 'Raleway', sans-serif;
    background-color: red;
    font-size: 32px;
    font-weight: 300;
}
