* {
    box-sizing: border-box;
}

:root {
    --color-primary: #08a6e4;
    --color1: #fb3b64;
    --color2: #08a6e4;
    --color3: #55dfb4;

    --color-primary: #08A6E4;
    --color-primary-shadow: rgba(7, 172, 230, .16);
    --color-redish: #FB3B64;
    --color-green: #55DFB4;
    --color-black: #000000;
    --color-grey: #A5A5A5;
    --color-light-grey: #F7F7F7;
    --color-white: #FFFFFF;

    --button-radius: 35px;
    --font-raleway: "Raleway", sans-serif;
    --font-open-sans: "Open Sans", sans-serif;
}


body {
    font-family: var(--font-open-sans);
    /*background-color: #ffffab;*/
}





header{
    height: 70px;
}

.header_bar {
    /*background-color: #ff5d87;*/
    box-shadow:  0 3px 6px rgb(0 0 0 / 16%);
    height: 70px;
}

.form_container {
    margin: 0 auto;
    max-width: 896px;
}









/* benefits-section */

.benefits-section{
    background-color: #F7F7F7;
    padding: 105px 0px;
}


.benefits-section p{
    font-size: 16px;
    line-height: 22px;
    font-family: 'Open Sans', sans-serif;
}


.benefits-container{
    display: flex;
    justify-content: normal;
    flex-direction: column;
    justify-items: center;
    /*background-color: #4ac94a;*/
}

.benefits-articles {
    display: flex;
    justify-content: normal;
    flex-direction: column;
    /*background-color: #37da37;*/

}

.benefits-article-computer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 37px;
    height: 370px;
    background-color: #ffffff;
    border: 1px solid #E8E9ED;
    border-radius: 5px;
}

.benefits-article-computer-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*background-color: dodgerblue;*/
    margin-left: 36px;
    margin-right: 172px;
}


.benefits-article-computer-text p{
    margin-top: 30px;
    margin-bottom: 50px;
}

.line1::after {
    content: "";
    display: block;
    height: 4px;
    width: 327px;
    background: var(--color1);
}

.line2::after {
    content: "";
    display: block;
    height: 4px;
    width: 327px;
    background: var(--color2);
}

.line3::after {
    content: "";
    display: block;
    height: 4px;
    width: 327px;
    background: var(--color3);
}

.benefits-article-computer-image-box {
    width: 501px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: normal;
    margin-left: -1px;
    padding-bottom: 38px;
    /*background-color: yellow;*/
    position: relative;
}


.computer__img {
    width: 386px;
    height: 219px;
    z-index: 2;
}

.benefits-article-computer-image-box:after{
    background-color: var(--color1);
    border-radius: 40px;
    content: "";
    display: block;
    height: 180px;
    position: absolute;
    right: 100px;
    top: 70px;
    transform: rotate(45deg);
    width: 180px;
    z-index: 1;
}


.benefits-article-phone {
    display: flex;
    margin-bottom: 37px;
    height: 370px;
    background-color: white;
    border: 1px solid #E8E9ED;
    border-radius: 5px;
}

.benefits-article-phone-box-left{
    /*background-color: darkgoldenrod;*/
}



.benefits-article-phone-image-box{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 623px;
    /*border: solid 1px #ff0000;*/
    /*background-color: rgba(255, 215, 0, 0.2);*/
    position: relative;
    height: 368px;
}

.phone-circle {
    background-color: var(--color2);
    border-radius: 39%;
    transform: rotate(10deg);
    height: 320px;
    margin-left: 70px;
    margin-right: 233px;
    width: 320px;
}

.phone__img{
    position: relative;
    transform: rotate(-10deg);
    width: 426px;
    height: 328px;
    left: 0px;
    top: 20px;
}





.benefits-article-phone-text {
    width: 501px;
    /*background-color: yellow;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 65px;
}



.benefits-article-phone-text h2 {
    margin-right: 170px;
}


.benefits-article-phone-text p {
    margin-top: 30px;
    margin-bottom: 50px;
    margin-right: 20px;
}

/* mega phone */

.benefits-article-megaphone {
    display: flex;
    height: 370px;
    /*background-color: #118511;*/
}



.benefits-article-megaphone-text{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 643px;
    background-color: white;
    padding-left: 36px;
    padding-right: 34px;
    border: 1px solid #E8E9ED;
    border-radius: 5px;
}

.benefits-article-megaphone-image {
    width: 451px;
    /*background-color: yellow;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 61px;
    margin-left: 51px;
    border: 1px solid #E8E9ED;
    border-radius: 5px;
}

.benefits-article-megaphone-image h2{
    margin-right: 172px
}

.benefits-article-megaphone-text h2 {
    margin-right: 170px;
}

.benefits-article-megaphone-text p{
    margin-top: 30px;
    margin-bottom: 44px;
}


.benefits-article-megaphone-image-div{
    height: 100%;
    background-color: aquamarine;
}

.benefits-article-megaphone-image-div img {
    margin-left: 62px;
    margin-top: 98px;
    width: 295px;
    height: 208px;
}

.benefits-article-left{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 623px;
    /*background-color: gold;*/
}




/* ------------------- from -------------------- */

.form-section-bar {
    /*background-color: yellowgreen;*/
}


.form-section {
    /*background-color: yellow;*/
    display: flex;
    justify-content: space-between;
    align-items: normal;
    margin-top: 80px;
    margin-bottom: 60px;
}

.form_left_box{
    width: 50%;
    display: flex;
    justify-content: left;
    flex-direction: column;
    /*background-color: aquamarine;*/

}

.form_left_box__title{
    font-size: 49px;
    line-height: 57px;
    font-family: 'Raleway', sans-serif;
}
.form_left_box__text{
    margin-top: 22px;
    margin-bottom: 42px;
    font-size: 16px;
    line-height: 22px;
}

.form_left_box__contact {
    display: flex;
    justify-content: left;
    align-items: center;
    color: var(--color-grey);
    line-height: 0px;
}

.form_left_box__contact img {
    margin-right: 10px;
}

.form_left_box__contact_mail {
    display: flex;
    justify-content: left;
    align-items: center;
}

.form_left_box__contact a{
    text-decoration: none;
}
.form_left_box__contact_phone {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 20px;
}

.form_right_box{
    width: 50%;
    /*background-color: #e3e3e5;*/
}


.form {
    display: flex;
    flex-direction: column
}

.form__label{
    color: var(--color2);
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 3px;
    font-weight: bold;
    display: block;
    text-transform: uppercase
}


.form__field{
    display: flex;
    flex-direction: column
}
.form__field:nth-child(2){
    margin-top: 42px;
    color: blue;
}

.form_input {
    padding: 15px;
    border: none;
    border-bottom: 1px #fa0303 solid;
    border-bottom: 1px solid var(--color2);
    background-color: transparent;
    display:block;
    width: 440px;
}

.form_input1{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--color-grey);
    line-height: 2.625rem;
}


.form__consent{
    margin-top: 30px;
}

.consent__text{
    font-size: 12px;
    line-height: 17px;
}




.contact-btn-submit:hover{
    cursor: pointer
}

.contact-btn-submit {
    border: 0px;
    border-radius: 35px;
    font-size: 13px;
    line-height: 18px;
    padding: 20px 97px 19px 97px;
    color: white;
    display: inline-block;
    background-color: var(--color2);
    box-shadow: 5px 10px 14px #07ACE688;
    font-weight: bold;
}

.contact-btn-row{
    padding-top:20px;
    display: flex;
    justify-content: end;
}




/* check box my consent */

.my_checkbox__consent input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}


.my_checkbox__consent {
    cursor: pointer;
    display: flex;
    color: #707070;
    font-weight: normal;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    line-height: 17px;
}

.my_checkbox__consent span {
    height: 24px;
    flex-shrink: 0;
    flex-basis: 24px;

    border: 1px solid #95989A;
    border: 1px solid red;
    border-radius: 4px;

    cursor: pointer;
    margin-right: 15px;
}

.my_checkbox__consent input:checked + span {
    background-color: var(--color1);
    background-image: url('../images/Checkmark.svg');
    background-position: center;
    background-repeat: no-repeat;
}

/*              marketing check box    */
.form_marketing {
    margin-top: 15px;
}


.form_marketing__label_and_checkbox {
    cursor: pointer;
    display: block;
    font-size: 1.375rem;
    margin-bottom: 12px;
    padding-left: 35px;
    position: relative
}

.form_marketing__label_and_checkbox input {
    cursor: pointer;
    height: 0;
    opacity: 0;
    position: absolute;
    width: 0
}

.form_marketing__text {
    cursor: pointer;
    display: flex;
    color: #707070;
    color: blue;
    font-weight: normal;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    line-height: 17px;
}


.form_marketing__label_and_checkbox .marketing__checkbox {
    background-color: var(--color-white);
    border: 1px solid var(--color-grey);
    border-radius: 4px;
    height: 25px;
    left: 0;
    position: absolute;
    top: 0;
    width: 25px
}

.form_marketing__label_and_checkbox input:checked ~ .marketing__checkbox {
    background-image: url("../images/Checkmark.svg");
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 50%
}

.form_marketing__label_and_checkbox .form_marketing__text {
    color: #707070;
    font-size: .75rem;
    line-height: 17px;
}

