$section_open_shop_break_point: 800px;

.open-shop-section{
    min-width: $minialna_szerokosc;
    min-height: 530px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    /*background-color: #ffffff;*/
    height: calc( 100vh - 70px );
    font-family: $font-open-sans;
    font-weight: normal;
}


.open-shop-top{
    /*background-color: gold;*/
    min-width: $minialna_szerokosc;

    display: flex;
    justify-content: end;
    flex-direction: column;
    align-items: center;
    padding-top: 130px;

    /*height: 100%;*/
    /*background-color: yellow;*/
    h1{
        font-size: 49px;
        line-height: 57px;
        font-family: $font-raleway;
        margin: 0;
    }
    

    p {
        text-align: center;
        @include my_paragraf_text;
        margin-top: 20px;
        margin-bottom: 38px;
    }
    @media (max-width: $section_open_shop_break_point) {
        padding-top: 100px;
        p {
            margin-bottom: 28px;
        }
    }    
    
}


.open-shop-bottom {
    background-image: url("../images/Background.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    min-height: 230px;
}


.open-shop-btn {
    color: white;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    padding: 22px 0 21px 0;
    font-weight: 600;
    border-radius: 40px;
    width: 440px;
    @include my_paragraf_text;

    
    @media (max-width: $section_open_shop_break_point) {
        width: 310px;
    }    
    background-color: $color-primary;
    box-shadow: 5px 10px 14px #0049649c;
    // box-shadow: 5px 10px 14px rgba(0, 102, 255, 0.6);
    &hover{
        cursor: pointer;
    }
}
