

.stats-section{
    padding-top: 100px;
    padding-bottom: 120px;
    min-width: $minialna_szerokosc;

    @media (max-width: $section_pricing_break_point) {
        padding-top: 50px;
        padding-bottom: 25px;
    }
    /*background-color: #b776f8;*/
    h2 {
        text-align: center;
        margin-bottom: 25px; 
        background-color: rgb(255, 246, 196);
        border: solid 1px gold;        
        @media (max-width: $section_stats_break_point) {
            margin-bottom: 0px;
        }        
    }
}

.stats-section-articles {
    /*background-color: #d7aeff;*/
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items:flex-start;
    @media (max-width: $section_stats_break_point) {
        flex-direction: column;
        align-items: center;
    }

}


.stats-article {
    margin-top: 25px;
    background-color: rgb(242, 255, 223);
    border: solid 1px greenyellow;
    width: 176px;
    display: flex;
    justify-content: left;
    flex-direction: column;
    align-items: center;
    /*background-color: #d0d0d0;*/
    text-align: center;
    font-family: $font-raleway;
    position: relative;

    h4{
        color: #000;
        margin-top: 13px;
        margin-bottom: 19px;
        font-size: 20px;
        line-height: 24px;
        font-weight: 800;
        letter-spacing: 6px;
    }
    
    p{
        font-size: 16px;
        line-height: 19px;
        color: $color-text-2;
        font-weight: normal;
        margin: 0px 35px;
    
    }
        
}

.statistics__img_person {
    position: relative;
    left: 45%;
}

.statistics__img_eye {
    position: relative;
    left: 47%;
    top: 14px
}

.statistics__img_catalog {
    position: relative;
    left: 50%;
    top: 6px
}



.circle{
    border-radius: 50%;
    height:63px;
    width: 63px;
}

.circle_color1 {
    @extend .circle;
    background-color: $color1;
}

.circle_color2 {
    @extend .circle;
    background-color: $color2;
}
.circle_color3 {
    @extend .circle;
    background-color: $color3;
}