$color-primary: #08a6e4;
$color-text-2: black; 
$color-text-2: #A5A5A5; // article 
$color-grey: #A5A5A5; 
$color-black: black; // article 
$color1: #fb3b64;
$color2: #08a6e4;
$color3: #55dfb4;

$color-light-grey: #A5A5A5; 
$color-primary-shadow: rgba(0, 0, 0, .16);
$color-white: #ffffff;
$color-redish: #fb3b64;
$color-green: #55dfb4;