$minialna_szerokosc: 375px;
$szerokosc_pricing:  1266px; 

$section_stats_break_point: 700px;
$section_pricing_break_point: 1100px;
$header_break_point_tablet: 1000px;
$header_break_point_mobile: 600px;